.container{
    width: 70%;
    margin: 0 auto;
}

.filter_button{
    width: 10%;
    margin-bottom: 60px;
}

.item_container{
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgba(206, 200, 200, 0.43);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item_container img{
    padding: 0;
    margin: 0;
}

.user_image_container{
    position: relative;
}

.user_image_container .user_image{
    height: 4.5rem;
}

.user_image_container .country_image{
    bottom: 0;
    width: 2rem;
    right: 0;
    position: absolute;
}

.item_intro{
    font-size: 1.5vw;
    color: gray;
    font-weight: bold;
}