.container{
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header_image, .container .content{
  flex: 2;
  width: 100%;
  margin: 0 auto;
}

.title_container{
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 5vh;
  font-size: 45px;
}

.header_image{
  background-image: url("../../../assets/landing/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container .content{
  flex: 1;
}


.carousele_outsider{
  position: absolute;
  padding: 15px;
  height: 75vh; 
  width: 100%;
  bottom: 0%;
  background-size: cover;
  background-repeat: no-repeat;
}


@media screen and (max-width: 950px) {
  .carousele_outsider{
    height: 68vh;
  }

  .title_container{
    font-size: 35px;
    padding-top: 7vh;
  }
}

@media screen and (max-width: 750px) {
  .carousele_outsider{
    height: 63vh;
    bottom: 5%;
  }

  .header_image{
    background-image: url("../../../assets/landing/header_bg_small_screens.png");
  }
  
}


@media screen and (max-width: 570px) {
  .container{
    padding: 0rem 0rem;
  }

  .title_container{
    font-size: 28px;
  }

  .carousele_outsider{
    padding: 0;
  }
}

@media screen and (max-width: 450px) {

  .title_container{
    font-size: 25px;
    content:none
  }

}

@media screen and (max-width: 380px) {
  .carousele_outsider{
    padding: 20px;
    bottom: 10%;
    height: 75%;
  }

}

@media screen and (max-width: 320px) {
  .carousele_outsider{
    padding: 3px;
  }
}