.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main_line{
    display: flex;
    font-size: 40px;
    color: rgb(227, 229, 231);
    letter-spacing: 2px;
    display: inline-flex;

}

.main_line div{
    display: inline-block;
    display: inline-block;
    position: relative;
}

.main_line hr{
    position: absolute;
    padding: 1px;
    background-color: #EE7D15;
    border-radius: 30%;
    width: 72%;
}

.main_line p{
    margin: 0 5px;
}


@media (max-width: 700px)
{   
    .main_line
    {
        font-size: 35px;
    }
}