.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header{
    display: flex;
    font-size: 40px;
    color: rgb(227, 229, 231);
    letter-spacing: 2px;
    display: inline-flex;
    justify-content: center;
    letter-spacing: 5px;
}

.header div{
    display: inline-block;
    position: relative;
}

.container hr{
    position: absolute;
    padding: 1px;
    background-color: #EE7D15;
    border-radius: 30%;
    width: 70%;
}

.header p{
    margin: 0 7px;
}

.subheader
{
    color: aliceblue;
    font-size: 20px;
    letter-spacing: 2px;
    width: 80%;
    margin: 1rem auto;
}

@media (max-width: 700px)
{   
    .header
    {
        font-size: 35px;
    }
}