/* .container{
    padding: 40px;
    margin: 60px;
} */

.box{
    padding: 40px;
    margin: 40px;
}
.container h1{
    font-size: 38px;
    text-align: center;
    margin: 12px;
}
.container div hr{
    padding: 3px;
    width: 10%;
    border-radius: 41px;
    border: none;
    background-color: #F08D32;
    margin: auto;
    position: relative;
}
.container p{
    font-size: 20px;
    line-height: 35px;
    color: #2836467e;
    margin: 40px;
    
}

@media screen and (max-width:600px) {
   .container div hr{
    width: 40%;
   } 
}

