.navLinks {
  list-style: none;
  margin: 0;
  padding: 3px;
  width: 100%;
  height: 100%;
  display: flex;
  letter-spacing: 2px;
  align-items: center;
  justify-content: space-around;
  font-style: italic;

}


.navLinks a {
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  
}



@media (max-width: 1000px) {
  .navLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navLinks a {
    text-decoration: none;
    font-size: 1vw;
    display: flex;
    align-items: center;
  }

  .navButton a{
    padding: 2px;
    color: #292929;
  }


}
