.onFocus a:hover,
.onFocus a:active,
.onFocus a.active {
  color: #F3DE1B;
  /* color: rgb(18, 16, 14); */
}

.onFocus a{
  color: #d3c1c1;
}
.onFocus img{
  width: 2rem;
}

.onAuth{
  text-align: center;
  display: flex;
  justify-content: center;
  width: 25%;
  margin-left: auto;
}

.onAuth a{
  color: rgb(23, 22, 20);
  text-align: center;
  background-color: #F3DE1B;
  font-weight: 600;
  padding: 0.8rem 2.8rem;
}