.welcome_page_bg_images{
    display: flex;
    align-items: flex-end;
}

.image_big, .image_small{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 180px;
    margin-left: 1rem;
}

.scroll_logo{
    height: 50%;
    align-self: center;
    position: absolute;
    right: 3.5rem;
}

.image_big{
    background-image: url("../../assets/landing/big_image.png");
    width: 210px;
    height: 400px;
    border: 3px solid #EE7D15;
    margin-left: 3rem;
}

.image_small{
    background-image: url("https://i.pinimg.com/564x/b7/4b/79/b74b79a1ae69f8640d3bcf4055585baf.jpg");
    width: 170px;
    height: 310px;
    margin-bottom: 1rem;
}

@media (max-width: 1300px)
{

    .image_big{
        width: 185px;
        height: 370px;
    }

    .image_small{
        width: 150px;
        height: 290px;
    }

    .scroll_logo{
        right: 2rem;
    }
}


@media (max-width: 950px)
{

    .scroll_logo{
        right: 1rem;
    }
}

@media (max-width: 900px)
{
    .image_big{
        width: 185px;
        height: 370px;
        margin-left: 0;
    }

    .image_small{
        width: 150px;
        height: 290px;
    }
}

@media (max-width: 800px)
{
    .image_big{
        width: 150px;
        height: 300px;
    }
    .image_small{
        width: 120px;
        height: 230px;
    }
}

@media (max-width: 680px)
{
    .scroll_logo{
        right: 0.5rem;
    }
    
    .image_small{
        margin-left: 5px;
    }
}

@media (max-width: 630px)
{
    .image_big{
        width: 140px;
        height: 270px;
    }

    .image_small{
        width: 110px;
        height: 210px;
    }
}

@media (max-width: 600px)
{

    .welcome_page_bg_images{
        /* padding-top: 5vh; */
    }

    .scroll_logo{
        height: 40%;
        right: 2rem;
    }
    
    .image_big{
        width: 190px;
        min-height: 330px;
        height: 45vh;
    }

    .image_small{
        width: 130px;
        min-height: 250px;
        height: 35vh;
        margin-left: 1rem;
    }
}

@media (max-width: 470px)
{
    .scroll_logo{
        right: 1rem;
        height: 13rem;

    }


}

@media (max-width: 400px)
{
    .scroll_logo{
        right: 3px;
    }

    .image_big{
        width: 170px;
    }
    .image_small{
        width: 130px;
        height: 33vh;
        margin-left: 5px;

    }
}

@media (max-width: 370px)
{

    .image_small{
    }

}

@media (max-width: 350px)
{
    .image_big{
        width: 170px;
        width: 150px;
        min-height: 250px;
    }
    .image_small{
        width: 130px;
        min-height: 200px;
        height: 35vh;
    }
}


@media (max-width: 320px)
{

    .image_big{
        width: 140px;
        height: 37vh;
    }

    .image_small{
        width: 100px;
        height: 180px;
    }
}

@media (max-width: 270px){

    .image_big{
        margin: 0;
    }

    .image_small{
        margin-right: 0;
    }

    .scroll_logo{
        display: none;
    }
}


@media (max-width: 245px)
{
    .welcome_page_bg_images{
        justify-content: center;
        margin: 0;
    }

    .image_big{
        width: 155px;
        height: 300px;

    }

    .image_small{
        display: none;
    }
}

@media (max-width: 220px)
{
    .welcome_page_bg_images{
        justify-content: left;
        margin-left: -10px;
    }

    .image_small{
        display: none;
    }
}