@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
*{
    font-family: 'Inter, Montserrat, Playfair Display';
}
.welcomePage{
    height: 100vh;
    /* background:rgba(221, 202, 108, 0.35) url("../../assets/lookin_background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right; */
    display: flex;
    align-items:flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
}

.welcomePage_section1, .welcomePage_section2{
    flex: 1;
    height: 100vh;
    background-color: rgba(221, 202, 108, 0.35) ;
}

.welcomePage_section2{
    background-image: url("../../assets/lookin_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcomePage_menu{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    height: 89vh;
    justify-content: space-between;
    flex-direction: column;
}

.welcomePage_menu_navigation{
    position: relative;
    align-self: start;
    width: 50%;
    top: 0%;
    flex: 1;
}


.welcomePage_menu_header{
    width: 50%;
    flex: 3;
    text-align: center;
    align-self: flex-start;
    color: rgb(209, 39, 39);

}

.temp{
    border: 2px solid red;
    width: 100%;
    margin-top: 20vh;
    height: 50vh;
}

.welcomePage_menu_header h1{
    font-size: 5vw;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

.welcomePage_menu_header h3{
    font-size: 2vw;
}

.welcomePage_menu_searchbar_container{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
}

.welcomePage_menu_searchbar{
    width: 50%;
    align-self: flex-start;
    display: flex;
    padding: 13px;
    background-color: rgb(249, 255, 240);
    justify-content: space-between;
    border-radius: 50px;
}

.welcomePage_menu_searchbar input{
    flex: 4;
    outline: none;
    color: rgba(0, 0, 0, 0.55);
    font-size: 1.2rem;
    background-color: transparent;

}

.welcomePage_menu_searchbar button{
    flex: 1;
    padding: 8px 0;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: rgba(243, 222, 27, 1);
}

@media screen and (max-width: 570px) {
    .welcomePage_menu_header h1{
        /* border: 2px solid red; */
    }
}