@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
*{
    font-family: 'Inter, Montserrat, Playfair Display';
}
.welcomePage{
    height: 100vh;
    /* background:rgba(221, 202, 108, 0.35) url("../../assets/lookin_background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right; */
    display: flex;
    align-items:flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
}

.welcomePage_section1, .welcomePage_section2{
    flex: 1;
    height: 100vh;
    background-color: rgba(221, 202, 108, 0.35) ;
}

.welcomePage_section2{
    background-image: url("../../assets/lookin_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcomePage_content{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    height: 89vh;
    justify-content: space-between;
    flex-direction: column;
}

.welcomePage_content_navigation{
    position: relative;
    align-self: start;
    width: 50%;
    top: 0%;
    flex: 1;
}


.welcomePage_content_header{
    width: 50%;
    flex: 3;
    text-align: center;
    align-self: flex-start;
    color: rgb(209, 39, 39);

}


.welcomePage_content_header h1{
    font-size: 3vw;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

.welcomePage_content_header h3{
    font-size: 1.5vw;
}

.welcomePage_content_searchbar_wrapper{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
}

.welcomePage_content_searchbar{
    align-self: flex-start;
    padding: 13px;
    background-color: rgb(249, 255, 240);
    border-radius: 50px;
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.welcomePage_content_searchbar input{
    flex: 4;
    outline: none;
    color: rgba(0, 0, 0, 0.55);
    font-size: 1.2rem;
    background-color: transparent;
    height: 7vh;
    margin-right: 4rem;
}

.welcomePage_content_searchbar .explore_button{
    flex: 1;    
}

@media screen and (max-width: 1300px) {
    .welcomePage_content_searchbar{
        width: 65%;
    }
}

@media screen and (max-width: 950px) {
    .welcomePage_content_searchbar{
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .welcomePage_content_searchbar{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcomePage_content_searchbar input{
        width: 90%;
        flex: auto;
        margin: 0 auto;
    }

    .welcomePage_content_searchbar .explore_button{
        width: 40%;
    }
}


@media screen and (max-width: 500px) {

    .welcomePage_content_searchbar .explore_button{
        width: 70%;
    }
}

