.welcome_page{
    height: 75vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-top: 10vh;
}

.welcome_page_content{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.content{
    height: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.welcome_page_controllers{
    width: 70%;
}

.controllers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile_bg_images{
    display: none;
}

.computer_bg_images, .mobile_bg_images{
    flex: 1;
    padding-bottom: 4vh;
}


/* conainer styles */

@media (max-width: 600px)
{

    .welcome_page{
        height: 100vh
    }
    
    .content{
        height: 95%;
        width: 80%;
        justify-content: space-around;
    }

    .computer_bg_images{
        display: none;
    }

    .mobile_bg_images{
        display: block;
        padding-bottom: 0;
        flex: 0;
    }
}

@media (max-width: 300px)
{
    .content{
        position: relative;
        width: 95%;
    }  
}



/* controllers style */

@media (max-width: 1200px)
{
    .welcome_page_controllers{
        width: 90%;
    }
}

@media (max-width: 900px)
{

    .welcome_page_controllers{
        width: 100%;
    }
    
}



@media (max-width: 600px)
{

    .welcome_page_controllers{
        width: 85%;
        margin: 0 auto;
    }

    .controllers p{
        font-size: 12px;   
    }
    
}

@media (max-width: 400px)
{
    .welcome_page_controllers{
        width: 100%;
    }    
}

@media (max-width: 300px)
{
    .controllers p{
        font-size: 10px;   
    }
     
}