.welcome_page{
    height: 75vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-top: 10vh;
}

.welcome_page_content, .welcome_page_bg_images{
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
}

.welcome_page_bg_images{
    justify-content: center;
}

.welcome_page_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome_page_content .content{
    height: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.welcome_page_text{
    width: 100%;
    font-size: 50px;
    color: rgba(44, 60, 77, 1);
}

.main_line{
    display: flex;
    align-items: center;
}

.main_line div{
    margin-left: 1rem; 
    display: inline-block;
    color: #EE7D15;
    position: relative;
}

.main_line hr{
    position: absolute;
    padding: 1px;
    background-color: #EE7D15;
    border-radius: 30%;
    width: 85%;
}




.welcome_page_controllers{
    width: 70%;
}

.welcome_page_controllers .controllers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image_big, .image_small{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 180px;
    margin-right: 1rem;
}

.image_big{
    background-image: url("../../assets/landing/big_image.png");
    width: 200px;
    height: 88%;
    border: 3px solid #EE7D15;
}

.image_small{
    background-image: url("https://i.pinimg.com/564x/b7/4b/79/b74b79a1ae69f8640d3bcf4055585baf.jpg");
    align-self: flex-end;
    margin-bottom: 2rem;
    width: 160px;
    height: 75%;
    margin-right: 12rem;
}

