.container{
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.comments_list{
    display: flex;
    flex-direction: column;
    flex: 1;
    display: flex;
    justify-content: center;
}

.comment_item{
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    color: #666666;
    font-size: 1.1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.comment_item img{
    width: 2.7rem;
    margin-right: 20px;
}


.view_comments{
    color: rgba(240, 175, 115, 1);
    font-size: 1.3rem;
}


@media screen and (max-width: 750px) {
    .comments_list{
        display: none;
    }


    .container{
        flex: none;
        text-align: left;
    }

    .view_comments{
        font-size: 1.1rem;
        margin: 18px 0;
        color: rgb(188, 160, 134);
    }
}