.container{
    width: 100%;
}

.container .comm_info_header{
    color: rgba(83, 81, 81, 0.7);
    text-align: left;
    font-size: 1rem;
    padding: 0.8rem 0;
    cursor: pointer;
}


.input_container{
    padding: 0.5rem;
    display: flex;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
}

.input_container img{
    width: 1.5rem;
}

.input{
    color: #7B7B7B;
    width: 100%;
    background-color: transparent;
}

.input::placeholder{
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

@media (max-width: 850px) {
    .container .comm_info_header{
        padding-bottom: 0.6rem;
        font-size: 0.9rem;
    }

    .input_container{
        padding: 0.5rem;
    }
}

@media (max-width: 600px) {
    .comm_info_header{
        font-size: 1rem;
        font-weight: 800;
    }
}


@media (max-width: 400px) {
    .input_container img{
        width: 1rem;
    }
}
