 .dropDownContainer{
   background-color: white;
   width: 15vw;
 }
 
 .logo{
    width: 3rem;
    transition-duration: 0.2s;
 }

 .logo:hover{
    transform: translateY(-5px);
 }

 .profile_link{
    width: 100%;
    margin: 2vh 0;
    cursor: pointer;
 }

 .profile_link a{
    font-size: 1.8rem;
    background-color: transparent;
    color: rgba(238, 125, 21, 1);
 }

 .body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2rem;
    /* border: 2px solid red; */
 }

 .body div{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;
 }

 .body div h1{
    margin: 0;
    flex: 2;
    color: rgba(128, 128, 128, 1);
 }

 .body img{
    padding: 0;
    margin-right: 10%;
    width: 2.5rem;
 }




 .logout_link{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .logout_link h1{
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
    font-size: 1.7rem;
 }



 @media (max-width: 650px) {

    .dropDownContainer{
        width: 55vw;
    }
 }


 @media (max-width: 850px) {

    .dropDownContainer{
        width: 40vw;
    }
 }
