   .dropDownContainer{
      background-color: white;
      width: 15rem;
   }

   .logo{
      width: 3rem;
      transition-duration: 0.2s;
   }

   .logo:hover{
      transform: translateY(-5px);
   }

   .profile_link{
      width: 100%;
      margin: 13px 0;
      cursor: pointer;
   }

   .profile_link a{
      font-size: 25px;
      color: #ee7d15;
   }

   .body{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      font-size: 20px;
   }

   .body div{
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0;
      margin-bottom: 10px;
   }

   .body div h1{
      margin: 0;
      color: rgba(128, 128, 128, 1);
   }

   .body img{
      padding: 0;
      margin-right: 10px;
      width: 2rem;
   }


   .logout_link{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .logout_link h1{
      color: rgb(255, 255, 255);
      font-weight: 600;
      cursor: pointer;
      font-size: 25px;
   }



   @media (max-width: 900px) {

      .dropDownContainer{
         width: 13rem;
      }
   }
   
   @media(max-width: 500px){
      .body{

         font-size: 1rem;
      }
   }