
.Header{
    text-align: "center";
    background-color: "white"
}

.input {
    display: none;
    border: 2px solid green;
}

.add_photo{
    font-size: 26px;
    color: #EE7D15;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.media{
    height: 50vh;
    border-radius: 24px;
}

.title {
    color: aqua;
    font-weight: "bold";
    font-family: "Montserrat";
}

.button {
    color: rgb(12, 12, 156);
    margin: 10
}

.secondaryButton {
    color: gray;
    margin: 10
}

.typography {
    margin:2px;
    background-color: red
}
