.navigationMenuBtn {
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 3rem;
  margin-left: 1.5rem;
  cursor: pointer;

}

.linkImage{
  width: 4rem;
  margin-right: 4rem;
}



.navigationMenuBtn span {
  display: block;
  width: 4rem;
  height: 1.5px;
  background: white;
}

.navigationTitle {
  font-style: italic;
  letter-spacing: 7px;
  font-weight: 100;
  margin-left: 5rem;
}

.navigationTitle a {
  text-decoration: none;
  color: white;
}

.headerNav {
  display: none;
}

.drawerNav {
  height: 100%;
}

@media (min-width: 1000px) {
  .navigationMenuBtn {
    display: none;
  }

  .headerNav {
    display: block;
  }
}

@media (max-width: 800px) {
  .navigationTitle {
    letter-spacing: 3px;
    font-weight: 100;
    margin-left: 2rem;
  }

}
