.main-navigation__menu-btn {
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 3rem;
  margin-left: 1.5rem;
  cursor: pointer;

}

.link_image{
  width: 4rem;
  margin-right: 4rem;
}

.extra-header{
  color: aliceblue;
  position: relative;
  top: 5.4rem;
  height: 20vh;
  background-color: black;
  display: flex;
  justify-content: center;
}

.air_header{
  width: 50%;
  text-align: center;
 align-self: center;
}

.air_logo{
  width: 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
  
}

.main-navigation__menu-btn span {
  display: block;
  width: 4rem;
  height: 1.5px;
  background: white;
}

.main-navigation__title {
  font-style: italic;
  letter-spacing: 7px;
  font-weight: 100;
  margin-left: 5rem;
}

.main-navigation__title a {
  text-decoration: none;
  color: white;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 1000px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}

@media (max-width: 800px) {
  .main-navigation__title {
    letter-spacing: 3px;
    font-weight: 100;
    margin-left: 2rem;
  }

  .extra-header{
    justify-content:space-between;
  }

  .air_logo{
    margin-right: 15%;
  }
}
