.blog-post-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  
 .create {
    margin-bottom: 20px;
  }
  
  .form_group {
    margin-bottom: 20px;
  }
  
  
  
  .textInput
   {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit{
    display: block;
    width: 10%;
    padding: 10px;
    background-color:  #e85808;;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit:hover {
    background-color: #e2b078;
  }