
.content{
    height: 70vh;
    position: relative;
}

.content img{
    width: 52%;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    right: 0;
    bottom: 10%;

}

.content form{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    float: left;
    border-radius: 50px 0 50px 0;
}

.content h1{
    font-size: 2rem;
    text-align: center;
    color: rgb(64, 66, 64);
}

.inputs, .buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.inputs{
    flex-direction: column;
}

.inputs .input{
    margin: 1vh 0;
}

.buttons .cancel{
    border-radius: 50px;
    background-color: rgb(209, 95, 95);
}

.buttons .cancel:hover{
    background-color: rgb(198, 35, 35);
}

.buttons .submit{
    border-radius: 50px;
    background-color: rgb(168, 219, 132);
}

@media screen and (max-width: 900px) {
    .content {
      width: 60%;
      border: 2px solid green;
    }

    .content h1{
        font-size: 1.7rem;
    }

}

@media screen and (max-width: 700px) {
    .content {
      width: 80%;
      border: 2px solid green;
    }

    .content h1{
        font-size: 1.3rem;
    }

}