
.wrap_login
{
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 40px 20px 40px;
    background: rgb(239, 235, 235);
}

.login_form
{
    width: 100%;    

}

.login_form_title
{
    display: block;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: bold;
    color: #3b3a3a;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 45px;
}

.btn{
    margin-top: 7vh;
}


.txt1
{
    font-family: 'Poppins';
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
}

.txt2
{
    font-family: 'Poppins';
    font-size: 13px;
    color: #333333;
    line-height: 1.5;
    text-decoration: none;
    transition: all 0.4s;
    cursor: pointer;
}
.txt2:hover
{
    text-decoration: underline;
}



.text_center
{
    text-align: center;
    padding-top: 70px;
}

.validate_input
{
    position: relative;
    border: 2px solid;
}

@media (max-width: 576px)
{
    .wrap_login
    {
        padding:77px 15px 33px 15px;
    }
}