.container{
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 14px;
}

.container img
{
    position: absolute;
    left: 50px;
    width: 2rem;
    height: 2rem;
}

.visible{
    width: 0;
    background-color: rgba(0, 0, 0, 0.78);

    animation: visible_animation 0.8s forwards;
}

.hidden{
    width: 100%;
    animation: hidden_animation 0.8s forwards;
}

@keyframes visible_animation{
    100% {
        width: 100%;
    } 
}

@keyframes hidden_animation{

    0%{
        background-color: rgba(0, 0, 0, 0.78);
    }

    100% {
        width: 0;
    } 
}

@keyframes animate{
    100% {
        width: 100%;
    } 
}