.image_container{
    cursor: pointer;
    height: 100%;
    border-radius: 14px;
    width: 100%;
}

.item_image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 14px;
}

.more_icon{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    opacity: 0.7;
}


.visible{
    animation: visible_animation 0.45s forwards;
    transform: translateX(-100%);
}

.hidden{
    animation: hidden_animation 0.45s forwards;
}

@keyframes visible_animation{

    100% {
        transform: translateX(0);
    } 
}

@keyframes hidden_animation{

    100% {
        transform: translateX(+100%);
    } 
}

