.container{
    background-color: whitesmoke;
    width: 30%;
    min-height: 68vh;
    padding: 20px;
    border-radius: 30px;
}

@media (max-width: 1200px) {

    .container{
        width: 40%;
    }
}

@media (max-width: 950px) {

    .container{
        width: 55%;
    }
}

@media (max-width: 700px) {

    .container{
        width: 77%;
    }
}

@media (max-width: 500px) {

    .container{
        width: 85%;
    }
}

@media (max-width: 450px) {

    .container{
        width: 90%;
        min-height: 75vh;
    }
}
