.container{
    text-align: center;
    margin: auto;
    width: 80%;
   
    padding: 10px;
}
.wrapper{
  display: flex;   
  margin: auto;
  flex-direction: row;
  align-items: center;
  margin-left: 35%;
  margin-top: 40px;
}
.profile_place{
    display: flex;
    position: relative;
    margin: 5rem;
}

.profile_image{
 width: 130px;  
    
}
.place_image{
    display: flex;
    flex-direction: column;
    
}
.profile_name{
    position: absolute;
    margin-top: 15%;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: gray

}

.number_place{
    color: #FFBD59;
    font-size: 15px;
}

.profile_setting{
    display: inline-block;
    font-size: 30px;
    color: #FFBD59;
    font-weight: 700;
    cursor: pointer;
}
.profile_interest{
    text-align: center;
    margin: 40px;
    
}
.hobby{
    margin-top: 23px;
    padding: 40px;
    font-weight: bold;
    font-size: 23px;
}
.profile_hobby{
    display: flex;
    margin: 23px;
    object-fit: cover;
}
.interest{
    margin: 10px;
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 25%;
    height: 60px;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
    object-fit: contain;
}

.interest:hover{
    background-color: #812d2d;
    color: white;
}
.about{
    font-weight: bold;
    font-size: 23px;
}
.box{
    display: flex;
    height: 400px;
  background-image: linear-gradient(to right, rgba(149, 221, 215, 0), rgb(159, 219, 211));
}

.details{
    display: block;
}

.details_name{
    float: left;
    padding: 7px;
    margin: 12px;
    display: flex;
    flex-direction: row;
}
.arrow{
    float: right;
    width: 20%;
    display: flex;
    margin-left: 50px;
}

.details_flag{
    width: 20%;
    
      
}