.main_container{
    margin: 20vh auto;
    width: 60rem;
}

.about_section{
    margin-top: 20px;
    font-size: 20px;
}

.about_box{
    display: flex;
    justify-content: space-between;
}

.about_box span{
    color: #EE7D15;
    font-size: 34px;
    cursor: pointer;
}

.about_section h1{
font-size: 22px;
}

.textbox{
    width: 100%;
    border: 2px solid rgba(48, 47, 47, 0.3);
    border-radius: 11px;
    color: #7F5537;
    line-height: 1.2;
    display: block;
    height: 15vh;
    background: transparent;
    border-radius: 11px;
}
.save_btn{
    margin: 1.5rem 0;
    display: inline-block;
    color: #fff;
    background-color: #EE7D15;
    width: 10%;
    padding: 10px;
    cursor: pointer;
    border-radius: 11px;
    text-align: center;
}
.hobbies_section{
    margin-top: 50px;
}

.hobbies_section h1{
    font-size: 22px;
}

.interest{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    cursor: pointer;
}

.interest p{
    border: solid 0.1px;
    border-radius: 10px;
    padding: 15px;
    width: 120px;
    background-color: #D9D9D9;
    font-style: oblique;
}
.interest p:hover{
    background-color:#f7f7f7;
}

@media screen and (max-width: 768px) {
.points{
    display: none;
}
.save_btn{
    width: 20%;
}


.edit_profile{
    margin-left: 111px;
    padding: 15px;
}
.about_section {
    
    width: 100%;
}
.about_box span{
    margin-right: 23px;
}
}

@media screen and (max-width: 1100px) {
    .main_container{
        width: 50rem;
    }
    
}

@media screen and (max-width: 900px) {
    .main_container{
        width: 90vw;
    }
    
}