.container{
    text-align: center;
    margin: auto;
    width: 65%;
    padding: 10px;
    padding-top: 20vh;
}

.profile_section{
  display: flex;   
  margin: auto;
  flex-direction: row;
  align-items: center;
  width: 40%;
  /* margin-left: 35%;
  margin-top: 40px; */
 }

.profile_place{
    display: flex;
    position: relative;
    margin: 5rem;
}

.profile_image{
 width: 130px;  
    
}
.place_image{
    display: flex;
    flex-direction: column;
    
}
.profile_name{
    position: absolute;
    margin-top: 15%;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: gray
}



.number_place{
    color: #FFBD59;
    font-size: 20px;
}

.profile_setting{
    display: inline-block;
    font-size: 30px;
    color: #FFBD59;
    font-weight: 700;
    cursor: pointer;
}


/* Styles for hobbies section  */


.hobbies_section{
    text-align: center;
    margin: 40px;
}


.hobbies_header{
    color: rgba(112, 112, 112, 1);
    font-weight: bold;
    font-size: 23px;
    margin: 5vh 0;
}

.hobbies_container{
    width: 100%;
}

.hobbies_wrapper{
    margin: 0 auto;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-between;
}


.interest_item{
    margin: 10px;
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    transition-duration: 0.3s;
    width: 20%;
}


.interest_item:hover{
    background-color: #b25959;
    color: white;
}


/* Styles for about section  */

.about{
    font-weight: bold;
    font-size: 23px;
}
.box{
    display: flex;
    height: 400px;
  /* background-image: linear-gradient(to right, rgba(149, 221, 215, 0), rgb(159, 219, 211)); */
}

.details{
    display: block;
}

.details_name{
    float: left;
    padding: 7px;
    margin: 12px;
    display: flex;
    flex-direction: row;
}
.arrow{
    float: right;
    width: 20%;
    display: flex;
    margin-left: 50px;
}

.details_flag{
    width: 20%;     
}

/*FOR TABLET*/
@media screen and (max-width: 768px) {

    .container{
        width: 85%;
    }

    .profile_name{
        margin-top: 25%;
    } 
    .hobbies_wrapper{
        width: 50%;
    } 

    .interest_item{
        width: 40%;
    }
}

/* FOR MOBILE SCREENS*/
@media screen and (max-width: 500px) {

    .container{
        width: 90%;
    }
 
    .place_image{
        display: block;
        flex-direction: column;
    }
    
    .number_place{
        color: #FFBD59;
        font-size: 25px;
    }

    .profile_name{
        margin-top: 35%;
    } 
    
    .profile_section{
        width: auto;  
       }
       .hobbies_wrapper{
        width: auto;
    }

    .arrow{
        display: none;
    }
}