.modal_container {
  position: fixed;
  height: 100vh;
  height: 100dvh;
  /* height: -webkit-fill-available; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(114, 114, 114, 0.79); */
  background-color: rgba(50, 48, 48, 0.763);
  z-index: 4;

}

.transparent{
  background: rgba(85, 85, 85, 0.316);
}

.full_width{
  width: 100%;
}
