.modal_container {
  z-index: 3;
  position: fixed;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  rgba(13, 13, 13, 0.742);
}

