
.mainHeader {
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.797);
  box-shadow: 0 15px 25px rgba(246, 246, 245, 0.507);
  transition-duration: 0.2s;
}

.mainHeaderFixed{
  position: fixed;
  top: 0;
  z-index: 100;
}

.statusHeader{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-color: #202120;
  padding: 5px;
}

.statusHeader h1, .statusHeader a{
  color: #FFBD59;
  font-size: 2rem;
}

.statusHeader img{
  width: 8rem;
}

.transparent{
  background-color: rgba(0, 0, 0, 0.289);
}

.transparent:hover{
  background-color: rgba(0, 0, 0, 0.589);

}

.mainHeader:hover{
  min-height: 12vh;
}


