
.mainHeader {
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  /* box-shadow: 0 15px 25px rgba(246, 246, 245, 0.507); */
  transition-duration: 0.2s;

}
.colorful{
  background-color: rgba(31, 183, 92, 0.664);
}

.custom_width ul{
  width: 95%;
}


.mainHeaderFixed{
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(31, 183, 92, 0.664);
}

.statusHeaderContainer{
  width: 100%;
  position: relative;
  background-color: rgba(31, 183, 92, 0.851);
  padding: 1rem;
}

.statusHeader{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}


.none h1, .login_link{
  color: #010101bb;
  align-self: auto;
  margin: auto;
  padding: 0;
  margin: 0;
  font-size: 1.7rem;
  font-weight: bold;
}

.none h1 span{
  color: #992323;
}

.login_link{
  padding: 8px 35px;
  border-radius: 50px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 6px -6px #777;
}

.statusHeader div{
  flex: 1;
  text-align: center;
  margin: auto;
}

.userData img{
  width: 8rem;
  margin: auto;
}

.userData{
  display: flex;
  align-items: center;
  justify-content: center;
}

.userData .points{
  background-color: rgba(250, 250, 250, 0.759);
  padding: 10px 0;
  width: 45%;
  border-radius: 50px;
  font-size:1.2rem;
  color: #9d3434;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}


.userData .points:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.hidden{
  /* visibility: hidden; */
  display: none;

}

.mainHeader:hover{
  min-height: 12vh;
}


@media (max-width: 650px) {


  .statusHeader div h1, .statusHeader div a{

    font-size: 1.5rem;
  }

  .statusHeader{
    width: 100%
  }

  .userData img{
    width: 6rem;
  }
}

@media (max-width: 470px) {

  .none{
    display: none;
  }

  .userData .points{
    padding: 5px 0;
    width: 50%;
  
  }

}