.wrapper{
    background-color: white;
    border-radius: 24px;
    width: 28rem;
    padding-top: 10px;
}

@media (max-width: 500px) {
    .wrapper{
        width: 18rem;
    }
}

@media (max-width: 380px) {
    .wrapper{
        width: 80vw;
    }
}


@media (max-width: 330px) {
    .wrapper{
        width: 92vw;
    }
}

@media (max-width: 280px) {
    .wrapper{
        width: 95vw;
    }
}
