.navContainer{
  position: absolute;
  width: 100%;
  z-index: 2;
}



.desktop_navigation{
  display: none;
}


@media (min-width: 1000px) {

  .headerNav {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;

  }

  .desktop_navigation{
    display: block;
    width: 100%;
  }
  
}

