.auth-link {
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.auth-link:hover {
  color: var(--main-color-hover);
}
