.container{
    width: 100%;
}


.slide_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid rgb(255, 0, 115); */
}


.slide_container img{
    /* border: 2px solid rgb(179, 255, 0); */
    height: 55vh;
    align-self: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px #c7c4c4;
}



.destination_name{
    position: absolute;
    background-color: rgba(234, 229, 87, 0.838);
    color: #000;
    bottom: 2%;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 2rem;
    font-weight: bold;
    font-size: 20px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.destination_name:hover{
    background-color: rgb(226, 39, 39);
    color: antiquewhite;
}

@media screen and (max-width: 768px) {
    .destination_name{
        margin-left: 40px;
    }
}

@media screen and (max-width: 570px) {
    .destination_name{
        display: none;
    }
}
  