

.slide_container{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    border: 5px solid white;
    border-radius: 30px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: #000000a1;
}

.second_image{
    flex: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content{
    background-color: #08080866;
    text-align: center;
    flex: 0.5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 8px;
}

.type_name{
    margin-right: 1rem;
}

.type_name img{
    width: 35px;
    height: 35px;
    margin-right: 1rem;
    margin-bottom: 5px;
}


.location_icon{
    height: 2.5rem;
    margin-right: 15px;
}


.map_btn, .type_name{
    border: 2px solid #F5C69B;
    border-radius: 40px;
    font-size: 18.5px;
    font-weight: 800;
    padding: 2px 1rem;
    align-self:center;
    color: #F5C69B;
    margin-bottom: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.btn_icon{
    position: relative;
    width: 38px;
    height: 38px;
}

.icon_ripple{
    height: 35px;
    border-radius: 50%;
    left: -13px;
    width: 43px;
    height: 38px;
    position: absolute;
}




@media (max-width: 1100px) {
    .map_btn_container{
        margin-left: 1rem;
    }
}
