.container{
    position: fixed;
    width: 100%;
    padding: 10px 2rem;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.white{
    z-index: 3;
    animation: animate 0.3s linear;
    animation-fill-mode: forwards;  
}

.menu_logos{
    display: flex;
    opacity: 0;
    animation: animate_menu_logos 0.3s linear;
    animation-fill-mode: forwards;  
}

.menu_logos img{
    margin-right: 1rem;
    animation: animate_menu_logos_single 1s linear;
    animation-fill-mode: forwards;  
}

@keyframes animate{
    100%{background-color: rgb(255, 255, 255);} 
}

@keyframes animate_menu_logos{
    100%{opacity: 1;} 
}

/* @keyframes animate_menu_logos_single{
    20%{margin: 0;} 
    50%{margin: 0 1rem;}
    100%{margin: 0; margin-right: 1rem;}
} */

.admin_logo{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.login_btn{
    align-self: center;
    cursor: pointer;
}