
.wrapper{
    background-image: linear-gradient(rgba(234, 244, 233), rgb(206, 206, 206));
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 5% 5% 10px 10px;
    margin-bottom: 10vh;
}  

.wrapper_content{
    flex: 2;
    display: flex;
    justify-content: center;
}

.header_container{
    align-self: center;
    width: 100%;
    text-align: center;
    margin-bottom: 5vh;

}

.inherit{
    background-color: inherit;
    background-image: none;
}

.header_container h1{
    color: #707070;
    display:inline-block; 
    font-size: 2.5rem;
    border-bottom: 2px dashed black;
    margin-bottom: 2vh;

}

@media screen and (max-width: 570px) {
    
}
