.container{
    width: 100%;
    height: 100%;
}

.Swiper{
    width: 100%;
    height: 100%;
}

.SwiperSlide{
    background-repeat: no-repeat;
    border-radius: 30px;
    background-size: cover;
}

@media screen and (max-width: 600px) {
    .add_logo{
        display: none;
    }

    .Swiper{
        width: 100%;
    }
}