.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.Swiper{
    width: 100%;
}

.add_logo{
    align-self: center;
    cursor: pointer;
    width: 20%;
    opacity: 0.7;
    height: 100%;
    display: flex;
    align-items: center;
}

.add_logo img{
    align-self: center;
    width: 55%;
}


.slide_container img{
    width: 200px;
}


.slide_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}


.slide_container img{
    width: 100%;
    height: 100%;
    align-self: auto;
    object-fit:cover;
    border-radius: 10px;
}


.destination_name{
    position: absolute;
    background-color: rgba(234, 229, 87, 0.838);
    color: #000;
    bottom: 2%;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 2rem;
    font-weight: bold;
    font-size: 20px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.destination_name:hover{
    background-color: rgb(226, 39, 39);
    color: antiquewhite;
}

.user_params{
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, 0.834);
    padding: 8px 0;
    border-bottom: 2px solid rgb(38, 31, 31);
}

.user_params li{
    color: aliceblue;
    cursor: pointer;
    font-size: 1.4em;
}



@media screen and (max-width: 600px) {
    .add_logo{
        display: none;
    }

    .Swiper{
        width: 100%;
    }
}

