.container{
    width: 100%;
}

.life_is_good_image{
    align-self: flex-end;
    width: 100%;
    margin: 1vh 0;
    margin-top: 10vh;
}

.life_is_good_image img{
    width: 17rem;
    margin: auto;
}


.fellow_friends_image{
    text-align: center;
    margin: 16vh 0;
}

.fellow_friends_image img{
    margin: 8vh auto;
}

.fellow_friends_image h1{
    font-size: 3rem;
    margin: 0;
    padding: 0;
    color: rgb(175, 156, 89);
}

