.container{
    width: 100%;
}

.fellow_friends_image{
    text-align: center;
    margin: 16vh 0;
}

.fellow_friends_image .fellow_logo{
    margin: 8vh auto;
}

.fellow_friends_header{
    font-size: 3rem;
    margin: 0;
    padding: 0;
    color: rgb(175, 156, 89);
}

.invite_or_join{
    width: 20%;
    padding: 40px;
    margin: 0 auto;
}

.invite_or_join span{
    font-size: 2rem;
    margin: 20px;
    color: gray;
    display: block;
}

.invite_or_join h2{
    padding: 0;
    font-size: 2.5rem;
    color: rgb(175, 156, 89);
}
