.trip_list_container{
    display: flex
}

.trip_list_container .add_logo {
    align-self: center;
    padding: 2rem;
    cursor: pointer;
}

.top_menu_container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(29, 28, 28);
    padding: 0.7rem;
}

.top_menu_container li{
    padding: 3px 10px;
    border-radius: 30px;
    letter-spacing: 1px;
    text-shadow: 3px 2px 3px rgba(255,255,255,.2);
    cursor: pointer;
}

.top_menu_delete{
    color: rgb(255, 47, 47);
}


.top_menu_review, .top_menu_update{
    color: rgb(238, 232, 177);
}