
.postHead{
    display: flex;
    justify-content: space-between;
}
.follow{
    cursor: pointer;
    text-align: center;
    height: 25px;
    width: 90px;
    /* border: 1px solid black; */
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 0px 3px 3px rgb(164, 161, 161);
}
.map{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    text-align: center;
    height: 25px;
    width: 120px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 0px 3px 3px rgb(164, 161, 161);
}
.Starrating{
    cursor: pointer;
}
.image{
    height: 80px;
    width: 80px;
}
.child{
    border-radius: 50%;
}
.imageField{
    width: 400px;
    height: 200px;
}
.imageFieldChild{
    width: 400px;
    height: 200px;
    border-radius: 20px;
}
.tittle{
    cursor: pointer;
    font-weight: bold;
}
.placeName{
    font-weight: bold;
}
.menu{
    font-weight: bold;
}
.map{
    font-weight: bold;
}
.bottomHead{
    display: flex;
    justify-content: space-between;
}
.likeComm{
    display: flex; 
    justify-content: space-between;
}
.like{
    font-weight: bold;
}
.btnFollow{
    font-weight: bold;

}
.discription{
    max-width: 300px;
    max-height: 150px;
    width: 100%;
    color: gray;
}
.desbtn{
    font-weight: bold;
}
.btncomm{
    font-weight: bold;
}
.icon{
    color: rgb(209, 35, 35);
    
    position: fixed;
}
.container{
    position: absolute;
    top: 10%;
    left: 23%;
    width: 50%;
}
    
.readorhide{
    color: rgb(192,192,192);
    cursor: pointer;
}