.container{
    width: 80%;
    margin-bottom: 15vh;
    border-radius: 20px;
    height: 75vh;
    overflow: hidden;
    display: flex;
}

.image_container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.image_container img{
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: cover;
}

.body_container{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.597);
}