@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:wght@400;500;600;700&display=swap');

.container{
    border-radius: 20px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 15px;
    display: flex;
    height: 400px;
    width: 90%;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.mobile_user_panel{
    display: none;
}

.image_container{
    flex: 0.8;
    height: 100%;
}

.image_container img{
    height: 100%;
    width: 100%;
    border-radius: 14px;
    object-fit: cover;
}

.mobile_description{
    display: none;
}

.body_container{
    flex: 1;
}

@media (max-width: 1150px) {
    .image_container{
        flex: 1;
    }
}

@media (max-width: 1000px) {
    .container{
        height: 340px;
        width: 95%;
    }
}

@media (max-width: 850px) {

    .container{
        height: 600px;
        flex-direction: column;
        width: 70%;
    }

    .body_container{
        width: 100%;
        flex: 0.5;
    }

    .image_container{
        height: 0;
        flex: 1;
        position: relative;
    }

    .mobile_description{
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #ffffff;
        text-align: left;
        color: #636060;
        line-height: 28px;

        opacity: 0.6;
    }

    .visible_mobile_description{
        opacity: 1;
        overflow: scroll;
        padding-bottom: 1rem;
        animation-name: slide-up;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    .mobile_description img{
        width: 2rem;
        margin: 0 auto;
    }
    
    .mobile_user_panel{
        display: block;
    }
}

@media (max-width: 750px) {
    .container{
        width: 85%;
    }
}

@media (max-width: 600px) {
    .container{
        width: 70%;
    }

    .image_container{
        flex: 2;
    }
}


@media (max-width: 500px) {
    .container{
        width: 85%;
    }
}

@media (max-width: 350px) {
    .container{
        height: 550px;
        width: 94%;
    }
}

@keyframes slide-up {
    0% {
      height: 0;
    }

    
    100% {
      height: 90%;
    }
}