@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:wght@400;500;600;700&display=swap');

.container{
    border-radius: 20px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 15px;
    display: flex;
    height: 400px;
    width: 90%;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.mobile_user_panel{
    display: none;
}

.body_container{
    flex: 1;
}

@media (max-width: 1000px) {
    .container{
        height: 340px;
        width: 95%;
    }
}

@media (max-width: 850px) {

    .container{
        height: 610px;
        flex-direction: column;
        width: 70%;
        padding: 5px;
    }

    .body_container{
        width: 100%;
        flex: 0.5;
    }


    
    .mobile_user_panel{
        display: block;
    }
}

@media (max-width: 750px) {
    .container{
        width: 85%;
    }
}

@media (max-width: 600px) {
    .container{
        width: 70%;
    }
}


@media (max-width: 500px) {
    .container{
        width: 85%;
    }
}

@media (max-width: 380px) {
    .container{
        height: 550px;
        width: 94%;
    }
}

@keyframes slide-up {
    0% {
      height: 0;
    }

    
    100% {
      height: 90%;
    }
}