.navigationMenuBtn {
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 3rem;
    margin-left: 1.5rem;
    cursor: pointer;
}

  
.navigationMenuBtn span {
    display: block;
    width: 4rem;
    font-weight: bolder;
    height: 1.5px;
    background: black;
}

@media (min-width: 1000px) {
    .navigationMenuBtn {
      display: none;
    }
}