
.textArea *{
    border: none;
    color: grey;
}


.inputList{
    max-height: 28vh;
    overflow-y: scroll;
    border: 2px solid red;
}

.add_icon{
    border: 2px solid green;
    text-align: center;
    padding: 10px;
}

.buttons{
    margin-top: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.buttons .cancel{
    border-radius: 50px;
    background-color: rgb(209, 95, 95);
}

.buttons .cancel:hover{
    background-color: rgb(198, 35, 35);
}

.buttons .submit{
    border-radius: 50px;
    background-color: rgb(168, 219, 132);
}