
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');



.section{
  text-align: center;
  width: 80vw;
  margin: 5rem auto;
}

.section h1{
  padding-top: 5vh;
  font-size: 1em;
  color: var(--clr-primary-5);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 2rem;
}

.profile_content {
 
  margin: 0 auto;
  font-size: 1.4rem;
  margin-top: 4rem;
  height: 450px;
  text-align: center;
  width: 80vw;
  max-width: 800px;
  position: relative;
  display: flex;
  
  /* overflow: hidden; */
}

.user_avatar{
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.user_rating{
  display: none;
}
.profile_container h4{
font-weight: bold;
color: black;
font-size: 15px;
}
.person_img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 110px;
  height: 110px;
  object-fit: cover;
  border: 4px solid var(--clr-grey-8);
  box-shadow: var(--dark-shadow);
}

.user_options{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.client_dropdown{
  align-self: center;
  height: 100%;
  cursor: pointer;
}

.client_dropdown h1{
  transition: transform .7s ease-in-out;

}

.client_dropdown h1:hover{
  transform: rotate(360deg);
}

.client_dropdown h1{
  padding: 0;
  color: rgb(80, 80, 78);
}

.place_content{
  margin: 6vh auto;
  width: 80%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(214, 215, 207, 0.423);
  padding: 2rem 5rem;
}

.place_content_title h2{
  font-size: 2.6rem;
  color: rgb(40, 55, 60);
}

.place_content_gallery{
  display: flex;
  flex: 2;
  justify-content: space-around;
  border-radius: 10px;
  padding: 2rem;
}

/* .parent_image, .child_image{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
} */

img{
  border-radius: 50px;
}

.parent_image img{
  height: 377px;
  width: 749px;
  left: 90px;
  top: 127px;
  border-radius: 50px;
  
  
}

.child_image img{
  height: 48%;
}

.place_content_description{
  flex: 1;
  height: 100%;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.place_content_description p{
  font-size: 1.2rem;
  color: rgb(135, 131, 110);
  font-weight: 600;
  text-align: left;
  width: 80%;
  margin: auto;
  padding-top: 100px;
  line-height: 2;
}


@media (max-width: 900px) {
  .user_options{
    width: 30%;
  }
}

@media (max-width: 600px) {
  .user_options{
    width: 40%;
  }
  
  .place_content_description p{
    width: 80%;
   
  }
}
/* 
:root {
   
    --transition: all 0.3s linear;
   
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  */
 
  /*  global classes */
  
  /* section */
  .section {
    width: 90vw;
    margin: 5rem auto;
    max-width: var(--max-width);
  }
  
  @media screen and (min-width: 992px) {
    .section {
      width: 95vw;
    }
  }
  /*
  =============== 
  Slider
  ===============
  */
  .title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .title h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
  .title span {
    font-size: 0.85em;
    color: var(--clr-primary-5);
    margin-right: 1rem;
    font-weight: 700;
  }

  .place_img{
    width: 549px;
    height: 277px;
    border-radius: 50px;
  }
  @media only screen and (max-width: 600px) {
    .place_img{
      width: 100%;
      /* height: 23px; */
      
    } 
  }
  .section-center {
    margin: 0 auto;
    margin-top: 4rem;
    width: 80vw;
    height: 680px;
    max-width: 800px;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
  }
  .content{
    width: 100%;
  }
.user_avatar{
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

  .person-img {
    border-radius: 50%;
    margin-bottom: 1rem;
    width: 110px;
    height: 110px;
    object-fit: cover;
    border: 4px solid var(--clr-grey-8);
    box-shadow: var(--dark-shadow);
  }
  article h4 {
    text-transform: uppercase;
    color: var(--clr-primary-5);
    margin-bottom: 0.25rem;
  }
  .title {
    text-transform: capitalize;
    margin-bottom: 0.75rem;
    color: var(--clr-grey-3);
  }
  .text {
    max-width: 35em;
    margin: 0 auto;
    margin-top: 2rem;
    line-height: 2;
    color: var(--clr-grey-5);
  }

  .carousel-indicators {
    position: relative;
    bottom: 7vw;
    left: 40%;
    transform: translateX(-55%);
    /* margin: 30px; */
  }
  
  .carousel-indicators span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #EE7D15;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel-indicators span.active {
    background-color: #EE7D15;
    color: #EE7D15;
  }
  
  
  article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* transition: var(--transition); */
  }
  article.activeSlide {
    opacity: 1;
    transform: translateX(0);
  }
  article.lastSlide {
    transform: translateX(-100%);
  }
  article.nextSlide {
    transform: translateX(100%);
  }
  