
  .container{
    width: 100%;
    height: 100%;
    padding: 5rem 10px;
    display: grid;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  

  .modal_wrapper{
    background-color: rgb(255, 255, 255);
    width: 30rem;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2);
    border-radius: 13px;
    max-height: 80vh;
    overflow: scroll;
    padding: 1rem;
  }

  .section_heading{
   margin: auto ;
    color: #333131;
    align-items: center;
    align-self: center;
  }
  .section_heading h2{
    margin: 24px;
    text-align: center;
    font-size: 33px;
  }
  .section_heading p{
    margin: 24px;
    text-align: center;
    font-size: 18px;
    color: #5a5757;
    font-weight: 500;
    line-height: 27px;
  }
  .main_box{
    background:  rgba(248, 183, 157, 0.3);
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    min-height: 40vh; 
  }
  .column {
    width: 20rem;
    padding: 0 1em 1em 1em;
    text-align: center;
    margin: 2rem auto;

  }

  /* .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%,  #F08D32 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  } */

  .earn_point {
    font-size: 20px;
    font-weight: 600;
    margin: 1em 0;
    color: #0a0909;
    text-transform: capitalize;
  }

  .point_description {
    color: #575a7b;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .point_description p span{
    color: #F08D32;
  }
  .description{
    color: #575a7b;
    font-size: 18px;
    line-height: 1.4;
  }

  .share_place{
    width: 179px;
    margin: auto;
    height: 70px;
    margin-top: 23px;
  }

  .share_place h2{
    color: #ffffff;
    margin: 5px;
  }

  .icon_wrapper {
    background-color:  #fff;
    position: relative;
    margin: auto;
    font-size: 30px;
    height:130px;
    width: 130px;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
.icon_wrapper img{
  width: 64px;
}
  .point_details{
    margin: 20px;
  }

  /* .card:hover {
    background-position: 0 100%;
  }

  .card:hover .icon_wrapper {
    background-color: #ffffff;
    color: #F08D32;
  }

  .card:hover h3 {
    color: #ffffff;
  }

  .card:hover p {
    color: #f0f0f0;
  } */

  @media screen and (min-width: 768px) {
    section {
      padding: 0 2em;
      width: 100%;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em 3em;
      width: 100%;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
    
  }
  @media screen and (max-width: 700px) {
    .column{
      margin: 1.5rem auto;
      width: 25rem;
    }
    .point_description{
      padding: 15px;
    }
  }

  @media screen and (max-width: 550px) {
    .modal_wrapper{
      width: 90vw;
    }
  }

  @media screen and (max-width: 450px) {
    .column{
      width: 90vw;
    }
  }