.money_container{
    /* border: solid red; */
    width: 100%;
    overflow: hidden;
    margin-top: 34px;
  }

  .text_heading h2{
    margin: 24px;
    text-align: center;
    font-size: 30px;
  }
  .text_heading h2 span{
    color: #F08D32;
  }

  .text_heading p{
    margin: 24px;
    text-align: center;
    font-size: 18px;
    color: #AAAAAA;
    font-weight: 500;
    line-height: 27px;
  }


  .row {
    display: flex;
    /* flex-wrap: wrap; */
    min-height: 40vh;
    padding-right: 53px;
    width: 80%;
    /* border: solid blue; */
  }
  .container_column {
    width: 20rem;
    padding: 0 1em 1em 1em;
    text-align: center;
    margin: 2rem auto;
  }
  .expert{
    margin-top: 6rem;
  }
  .point_card {
    width: 325px;
    height: 329px;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%,  #F08D32 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }

  .earn_point {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1em 0;
    color: #141010;
    line-height: 37.89px;
  }

  .point_description {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  
  .description{
    color: #575a7b;
    font-size: 20px;
    line-height: 34.89px;
    font-weight: 400;
  }

  .description p span{
    color: #F08D32;
  }

  .icon_wrapper {
    background-color:  #FFF;
    border: solid 1px #DEDEDE;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }

  .icon_wrapper2 {
    background-color:  #FFF;
    border: solid 1px #F2571A;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }

  .point_details{
    margin: 20px;
  }
  .upgrade{
    width: 272px;
    margin: auto;
    height: 70px;
    margin-top: 23px;
  }

  .upgrade h2{
    color: #ffffff;
    margin: 5px;
  }
  

  @media screen and (min-width: 768px) {
    .container_column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    
    .container_column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
    
  }
  @media screen and (max-width: 764px) {
    .container_column{
      margin: 1.5rem auto;
      width: 30rem;
      margin: auto;
    }
    .point_description{
      padding: 15px;
    }
    .expert{
      margin-left: 0;
      margin-top: 0;
    }
    .point_card{
      width: 60vw;
    }
  }

  
  @media screen and (max-width:986px) {
    .row{
      width: 90vw;
      flex-wrap: wrap;
      margin: 23px;
     
    }
    
    .expert{
      margin-left: 1rem;
      margin-top: 0;
    }
    .container_column{
      margin: auto;
    }
  }
/*start here*/
  /* @media screen and (max-width: 1147px) {
    .row{
      flex-wrap: wrap;
      margin: auto;
    }
    .container_column{
      margin: 30px;
    }
    .expert{
      margin: 0;
    }
  } */

  @media screen and (max-width: 750px) {
    .modal_wrapper{
      width: 90vw;
    }
    .expert{
      margin-left: 0;
      margin-top: 0;
    }

    .point_card{
      margin: auto;
    }
  }

  @media screen and (max-width: 450px) {
    .container_column{
      width: 90vw;
    }
    .money_container{
      width: auto;
      overflow: hidden;
    }
    .point_card{
      width: 80vw;
    }
  }