.main_container{
    margin: 20vh auto;
    width: 80%;
}

.main_container div hr{
    margin: auto;
    padding: 3px;
    width: 10%;
    border-radius: 41px;
    border: none;
    background-color: #F08D32;
}
.profileBox{
    text-align: center;
    font-size: 38px;
    
}
.dropdown{
    font-size: 40px;
    width: 45%;
    font-weight: bolder;
    text-align: end;
    float: right;
    margin-right: 18px;
}

.container{
    padding-top: 55px;
    display: flex;
    margin: auto;
    flex-direction: row;
}

.container img{
    width: 140px;
    border-radius: 50%;
}

.profile_name_email{
    margin-top: 20px; 
    width: 20%;
}
.profile_name_email h2{
    font-size: 28px;
    width: 287px;
}
.profile_name_email p{
    font-size: 18px;
}

.points{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 5px;
    width: 40%;
   
    
}
.points span{
    display: flex;
}

.points h3{
    font-size: 26px;
    margin-top: 57px;
}

.edit_profile{
    display: flex;
    width: 120px;
    margin: 13px;
    border-radius: 60px;
    justify-content: center;
    cursor: pointer;
}
.coin{
    display: flex;
}

.Profile_Name{
    display: block;
}

.profileBox h1{
    margin: auto;
}
.about_section{
    margin-top: 20px;
    font-size: 18px;
}
.about_section h1{
font-size: 22px;
}

.hobbies_section{
    margin-top: 50px;
}
.hobbies_section h1{
    font-size: 22px;
}
.interest{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    cursor: pointer;
}

.interest p{
    border: solid 0.1px;
    border-radius: 7px;
    padding: 15px;
    width: 140px;
    background-color: #FFFFFF;
}
.interest p:hover{
    background-color:#f7f7f7;
}

.favourite_section{
    text-align: center;
    margin: 23px;
}

.favourite_container{
    display: flex;
    gap:20px;
}

.favourite_place{
    width: 393.33px;
    height: 464px;
    
}

.explore_all{
    width: 150px;
    background-color: #F08D32;
    margin: 23px;
    border-radius: 18px;
    border: none;
}

.explore_all:hover{
    grid-row: auto;
    background-color: #000000;
}


@media screen and (max-width: 768px) {

.edit_profile{
    margin-left: 111px;
    padding: 15px;
    width: 100%;
}
.about_section {
    width: 100%;
}
.main_container div hr{
    width: 20%;
}
}

@media screen and (max-width: 768px) {
    .coin img{
        margin-left: 50px;
        width: 100%;
        height: fit-content;
    }
    .points{
        margin-right: 23px;
    }
    .points h3{
        font-size: 18px;
    }
}


@media screen and (max-width: 320px) {
    .main_container{
        width: 100%;
    }
    .edit_profile{
        width: 150%;
    }
    
}
@media screen and (max-width: 445px) {
    .main_container{
        width: 100%;
    }
   
    .container{
        width: 100%;
    }

    .container img{
        width: 100px;
    }
    .about_section{
        width: 50vh;
        padding-left: 15px;
    }
    .hobbies_section{
        margin-left: 12px;
    }
    .coin{
        display: none;
    }
    .points{
        display: none;
    }

    .favourite_place{
        width: auto;
        border: solid rgb(39, 37, 37);
    }
}

@media screen and (max-width: 600px) {
    .favourite_container{
        display: block;
    }
    .coin{
        display: none;
    }
    .points{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .dropdown{
        display: none;
    }
}
@media screen and (max-width: 767px) {
.coin{
    display: none;
}
.points{
    display: none;
}
}