.container {
    width: 20%;
    height: 20vh;
    position: relative;
  }
  
  .marker {
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 47%;
    margin-left: -30px;
    width: 80px;
    height: 80px;
    -webkit-animation: hover 0.5s infinite ease-in;
            animation: hover 0.5s infinite ease-in;
  }
  
  
  .pulse {
    position: absolute;
    top: 30%;
    left: 50%;
    display: block;
    width: 60px;
    height: 17.14286px;
    background: skyblue;
    /* background alternative white */
    border-radius: 50%;
    transform: translate(-50%, 400%);
  }
  
  .pulse:before, .pulse:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: skyblue;
    border-radius: 50%;
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1);
    -webkit-animation: ripple 0.5s infinite ease-in;
            animation: ripple 0.5s infinite ease-in;
  }
  
  @-webkit-keyframes ripple {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.5;
    }
    100% {
      transform: translate(-50%, -50%) scale(2);
      opacity: 0;
    }
  }
  
  @keyframes ripple {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.5;
    }
    100% {
      transform: translate(-50%, -50%) scale(2);
      opacity: 0;
    }
  }
  @-webkit-keyframes hover {
    0% {
      margin-top: 0px;
    }
    50% {
      margin-top: 10px;
    }
  }
  @keyframes hover {
    0% {
      margin-top: 0px;
    }
    50% {
      margin-top: 10px;
    }
  }
  